<h1>
  Add a new device
</h1>


<hr>

<!-- Form device start -->
<form action="/create_device" method="post">
<!-- Form device end -->

  <!-- Label and input for description start -->
  <div class="form-group">
    <label for="description">
      Description
    </label>

    <!-- Input for description start -->
    <input type="text" id="description" name="description" class="form-control">
    <!-- Input for description end -->
  </div>
  <!-- Label and input for description end -->

  <!-- Label and input for photo start -->
  <div class="form-group">
    <label for="photo">
      Photo
    </label>

    <!-- Input for photo start -->
    <input type="text" id="photo" name="photo" class="form-control">
    <!-- Input for photo end -->
  </div>
  <!-- Label and input for photo end -->

  <!-- Label and input for company_id start -->
  <div class="form-group">
    <label for="company_id">
      Company
    </label>

    <!-- Input for company_id start -->
    <input type="text" id="company_id" name="company_id" class="form-control">
    <!-- Input for company_id end -->
  </div>
  <!-- Label and input for company_id end -->

  <!-- Label and input for category_id start -->
  <div class="form-group">
    <label for="category_id">
      Category
    </label>

    <!-- Input for category_id start -->
    <input type="text" id="category_id" name="category_id" class="form-control">
    <!-- Input for category_id end -->
  </div>
  <!-- Label and input for category_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Create device
  </button>
</form>

<hr>

<a href="/devices">
  Go back
</a>
