<h1>
  Edit company #<%= @company.id %>
</h1>

<hr>

<form action="/update_company/<%= @company.id %>" method="post">

  <div class="form-group">
    <label for="description">
      Description
    </label>

    <input type="text" id="description" name="description" class="form-control" value="<%= @company.description %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update company
  </button>
</form>

<hr>

<a href="/companies">
  Go back
</a>
